In [1]:
print("Hello world")

Hello world

# Variables and Operators

$a=x+y$

In [2]:
x = 2

In [3]:
print(x)

2

In [4]:
type(x)

int

In [5]:
y = 5
z = 0.5
f = 6.0

In [6]:
print(type(y),type(z),type(f))

<class 'int'> <class 'float'> <class 'float'>

In [7]:
a,b,c = 1,2,9 # comment

In [8]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      1
b          int      2
c          int      9
f          float    6.0
x          int      2
y          int      5
z          float    0.5

In [9]:
del x

In [10]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      1
b          int      2
c          int      9
f          float    6.0
y          int      5
z          float    0.5

In [11]:
print(x)

NameError: name 'x' is not defined

In [12]:
2+3

5

In [13]:
a = 2
b = 3
print(a+b)

5

In [14]:
c = a+b
print(c)

5

In [15]:
print(type(2 + 4.5))

<class 'float'>

In [16]:
10/7

1.4285714285714286

In [17]:
100//9

11

In [21]:
11//4

2

In [22]:
30%7

2

In [23]:
2*3

6

In [24]:
2**3 # 2 raised to the power 3

8

In [25]:
a = True
b = False

In [26]:
True and True

True

In [27]:
True and False

False

In [28]:
False and True

False

In [29]:
True or True

True

In [30]:
True or False

True

In [31]:
False or False

False

In [32]:
not(True)

False

In [33]:
not(False)

True

In [34]:
2 < 3

True

In [35]:
2 != 3

True

In [36]:
(2 != 3 and 5>3) or False

True

In [39]:

a = int(input("enter a number : "))
if a < 20:
    print("Less than 20")
else:
    print("Not less than 20")

enter a number : 30
Not less than 20

In [40]:
round(2.3)

2

In [41]:
round(2.5)

2

In [42]:
round(2.51)

3

In [45]:
round(2.4455678,1)

2.4

In [46]:
divmod(27,5)

(5, 2)

In [48]:
isinstance(1,int)

True

In [49]:
isinstance(2.4,int)

False

In [50]:
isinstance(2.4,float)

True

In [51]:
2**4

16

In [52]:
pow(2,4)

16

In [53]:
pow(2,4,3)

1

In [54]:
a = input("Enter a number ")

Enter a number 12

In [55]:
print(a)

12

In [56]:
print(type(a))

<class 'str'>

In [57]:
s = "This is a python course"
t = 'And we are enjoying learning basics of it'

In [58]:
print(s)

This is a python course

In [59]:
print(t)

And we are enjoying learning basics of it

In [60]:
type(s)

str

In [62]:
print(s+ " "+t)

This is a python course And we are enjoying learning basics of it

In [63]:
m = """ this is 1st line,
and this is second line,
and this is the last line"""

In [64]:
print(m)

 this is 1st line,
and this is second line,
and this is the last line

In [65]:
type(m)

str

In [66]:
a = "what is your name"
print(a[2])

a

In [67]:
print(a[2:7])

at is

In [68]:
print(a[-1])

e

In [69]:
print(a[-3])

a

In [70]:
s2 = a[3:8]

In [71]:
print(s2)

t is

In [72]:
a[2] = 'e'

TypeError: 'str' object does not support item assignment

In [73]:
"   we have string   ".strip()

'we have string'

In [74]:
"We are Mixed Types".lower()

'we are mixed types'

In [75]:
"er dsfg;lsjjlsjfdg;s".upper()

'ER DSFG;LSJJLSJFDG;S'

In [85]:
A = "some,thing,is,missing".split(",")

In [86]:
A

['some', 'thing', 'is', 'missing']

In [87]:
type(A)

list

In [88]:
A[0]

'some'

In [89]:
A[1]

'thing'

In [91]:
"abc,cde,fgh".replace("c","^&")

'ab^&,^&de,fgh'

In [93]:
s = "hasdkjfl;ajf;lajf;l"
"askk" in s

False

In [94]:
print("We are learning "String" here")

SyntaxError: invalid syntax (<ipython-input-94-7d8a65308734>, line 1)

In [95]:
print("We are learning \"String\" here")

We are learning "String" here

In [96]:
print('We are learning "String" here')

We are learning "String" here

In [97]:
print("c\name\drive")

c
ame\drive

In [98]:
print(r"c\name\drive")

c\name\drive

In [99]:
L = [12,"happy",4.5,0]

In [100]:
len(L)

4

In [101]:
type(L)

list

In [105]:
type(L[1])

str

In [106]:
type(L[0])

int

In [107]:
T = (23,"banana",4.6,-2)

In [108]:
T[2]

4.6

In [111]:
S = {1,2,3,5,"ahy",-3,2,3}

In [112]:
1 in S

True

In [113]:
S

{-3, 1, 2, 3, 5, 'ahy'}

In [114]:
D = {"A":23,"helo":"helowtoYou"}

In [115]:
D["A"]

23

In [116]:
D["helo"]

'helowtoYou'

In [117]:
L = L+[33]

In [118]:
L

[12, 'happy', 4.5, 0, 33]

In [119]:
L.append(34)

In [120]:
L

[12, 'happy', 4.5, 0, 33, 34]

In [121]:
S.add("44")

In [122]:
S

{-3, 1, 2, 3, '44', 5, 'ahy'}

In [124]:
S.update("45","name")

In [125]:
S

{-3, 1, 2, 3, '4', '44', 5, '5', 'a', 'ahy', 'e', 'm', 'n'}

In [126]:
D["U"] = "newValue"

In [127]:
D

{'A': 23, 'helo': 'helowtoYou', 'U': 'newValue'}

In [128]:
L

[12, 'happy', 4.5, 0, 33, 34]

In [129]:
L2 = L

In [130]:
del L2[2]

In [131]:
L

[12, 'happy', 0, 33, 34]

In [132]:
L2 = L.copy()

In [136]:
a = int(input("Enter a number :"))
b = int(input("Enter another number: "))
if a>b:
    print("A is bigger than B")
elif a==b:
    print("A and B are same")
else:
    print("A is smaller than B")

Enter a number :12
Enter another number: 30
A is smaller than B

In [137]:
a = 1
b = 7
print("A") if a>b else print("Same") if a==b else print("B")

B